/* Theme */
:root {
	--theme: var(--the-spark);
	--img: var(--the-spark-img);
}


/* Content */
.background {
	background-image: url('images/background.avif');
}

.filter img {
	filter: invert(100%);
}


/* Responsive */
@media only screen and (max-width: 600px) {
	.short .video {
		padding-bottom: 50% !important;
		width: 100%;
		left: 0;
	}
}

@media only screen and (min-width: 600px) {
	.short .video {
		padding-bottom: 40% !important;
		width: 80%;
		left: 10%;
	}
}

@media only screen and (min-width: 992px) {
	.short .video {
		padding-bottom: 35% !important;
		width: 70%;
		left: 15%;
	}
}
