---
title: Wolf
description: We are a group of CG artists and we make tools and movies made with Blender
stylesheets: ["/styles/style_home.css"]
---


<div class="space"></div>
<div class="space"></div>

<div class="profile">
	<img src="/profile.avif">
</div>

<div class="space-small"></div>

<div class="information">
	<p class="center">We make <a href="https://www.blender.org/">Blender</a> assets and short films</p>
</div>

<div class="space-small"></div>

<div class="social">
	<a title="Email" href="mailto:marco.pavanello@protonmail.com">
		<img src="/logos/email.svg">
	</a>
	<a title="Mastodon" href="https://mastodon.online/@wolf3d">
		<img src="/logos/mastodon.svg">
	</a>
	<a title="X" href="https://x.com/wolfstudioart">
		<img src="/logos/x.svg">
	</a>
	<a title="GitLab" href="https://gitlab.com/users/marcopavanello/projects">
		<img src="/logos/gitlab.svg">
	</a>
	<a title="YouTube" href="https://www.youtube.com/@wolfstudioart">
		<img src="/logos/youtube.svg">
	</a>
</div>
