<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ .Page.Title }}</title>
        <meta name="description" content="{{ .Params.description }}">
        <meta property="og:title" content="Wolf">
        <meta property="og:site_name" content="Wolf">
        <meta property="og:image" content="/logos/preview.webp">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/logos/wolf_theme.svg" type="image/svg+xml">
        <link rel="icon" href="/logos/wolf.png" type="image/png">

        {{/* Shared Stylesheets */}}
        <link rel="stylesheet" type="text/css" href="/styles/style_menu.css">
        <link rel="stylesheet" type="text/css" href="/styles/style_common.css">
        {{ range .Params.stylesheets }}
            <link rel="stylesheet" type="text/css" href="{{ . }}">
        {{ end }}
        {{ range $.Page.Resources.Match "*.css" }}
            <link rel="stylesheet" type="text/css" href="{{ . }}">
        {{ end }}

        <script src="/scripts/menu_bar.js" type="text/javascript"></script>
    </head>

    <body>
        <header>
            <div id="section">
                <div id="menu">
                    <input id="hambmenu" type="checkbox" onclick="openMenu()">
                        <div class="hamburger"></div>
                        <div class="hamburger"></div>
                    </input>
                    <div id="links">
                        <ul>
                            {{ $current := lower (path.Base .RelPermalink) }}
                            <li class="main"><a class="{{ if eq $current "/" }}selected{{ end }}" href="/">Home</a></li>
                            <li class="main"><a class="{{ if in .RelPermalink "assets" }}selected{{ end }}" href="/assets">Assets</a></li>
                            <li class="main"><a class="{{ if in .RelPermalink "films" }}selected{{ end }}" href="/films">Films</a></li>
                            <li class="main"><a class="{{ if in .RelPermalink "news" }}selected{{ end }}" href="/news">News</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <main>
            {{ block "main" . }}

            {{ end }}
            
            <div class="space"></div>
        </main>

    </body>
</html>
