{{ define "main" }}

<div class="space"></div>

<p class="date">{{ .Date.Format "2006-01-02" }}</p>
<h1>{{ .Title }}</h1>
<div class="background-post center">
    <img src="{{ .Params.image }}">
</div>

<div class="space-small"></div>

<div class="post">
{{ .Content }}
</div>

{{ end }}
