#section {
	width: 100%;
	height: 40px;
	position: fixed;
	border-bottom: 1px solid rgba(128, 128, 128, var(--border-opacity));
	background: rgba(var(--body), var(--menu-opacity));
	backdrop-filter: blur(20px);
	z-index: 3;
	transition: all 0.3s;
}

#menu {
	float: right;
	margin-right: 20px;
}

#menu input {
	display: block;
	position: absolute;
	cursor: pointer;
	width: 40px;
	height: 40px;
	margin: 0;
	transform: translate(5px, 5px);
	opacity: 0;
	z-index: 2;
}

.hamburger {
	display: block;
	background: rgb(var(--theme));
	width: 30px;
	height: 2px;
	margin-top: 10px;
	margin-bottom: 4px;
	margin-left: 10px;
	border-radius: 3px;
	transform: translateY(3px);
	transition: transform 0.5s, opacity 0.5s;
}

#menu input:checked ~ .hamburger {
	transform: translate(0, 15px) rotate(45deg);
}

#menu input:checked ~ .hamburger:nth-last-child(2) {
	transform: translate(0, 3px) rotate(-45deg);
}

#menu a:not(.selected) {
	display: block;
	text-decoration: none;
	width: 100%;
	color: rgb(var(--theme));
	opacity: 0.6;
	transition: all 0.3s;
}

.selected {
	display: block;
	text-decoration: none;
	color: rgb(var(--theme));
	width: 100%;
	transition: all 0.3s;
}

.main a:hover {
	opacity: 1.0 !important;
}

#menu ul {
	padding: 0;
	margin: 0;
}

#links {
	position: fixed;
	display: block;
	text-align: center;
	width: 100%;
	height: 40px;
	margin-left: 3.7em;
	list-style-type: none;
	transition: all 0.3s;
	z-index: -1;
}

#links li a{
	margin: 0;
}

#menu input:checked ~ #links {
	transform: translateX(-100%);
}

.main {
	display: block;
	width: 100%;
	height: 100%;
}

.main a {
	padding: 11px 20px;
}


/* Responsive */
@media only screen and (max-width: 600px) {
	#links {
		height: 160px;
	}
	#links a {
		padding: 12px 0;
	}
	.main a {
		font-size: 16px;
	}
}

@media only screen and (min-width: 600px) {
	#menu {
		position: absolute;
		margin-right: 0;
	}
	#menu input {
		display: none;
	}
	.hamburger {
		display: none;
	}
	#links {
		margin-top: 0;
		margin-left: 0;
	}
	.main {
		display: inline-block;
		width: auto;
	}
	.main a {
		font-size: 14px;
	}
}
