/* Theme */
:root {
	--theme: var(--wolf);
	--img: var(--wolf-img);
}


a {
	text-decoration: none;
}


.posts {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 10%;
}

.post {
	position:relative;
	width: 300px;
	height: 280px;
	margin: 14px;
	padding: 0;
	text-align: center;
	transition: all 0.3s;
}

.post img {
	width: 100%;
	border-radius: var(--round) var(--round) 0 0;
}

.post h2 {
	font-size: 20px;
}

.post p {
	font-size: 14px;
	color: rgba(var(--theme), var(--medium-emphasis));
	position: absolute;
	bottom: 10px;
}

.post:hover {
	background: rgba(var(--theme), var(--dp24));
}

/* Responsive */
@media only screen and (max-width: 600px) {
	.posts {
		padding: 0 5%;
	}
	.post {
		width: 100%;
		height: auto;
		margin: 14px 0;
	}
	.post h2 {
		padding-bottom: 50px;
	}
}
