/* Light style */
:root {
	--dp1: 0.05;
	--dp2: 0.07;
	--dp3: 0.08;
	--dp4: 0.09;
	--dp6: 0.11;
	--dp8: 0.12;
	--dp12: 0.14;
	--dp16: 0.15;
	--dp24: 0.16;

	--high-emphasis: 0.87;
	--medium-emphasis: 0.6;
	--disabled: 0.38;

	--round: 14px;
	--selected: 0.75;
	--menu-opacity: 0.5;
	--border-opacity: 0.2;

	--body: 255, 255, 255;
	--body-img: invert(100%);

	--neutral: 18, 18, 18;

	--wolf: 0, 95, 142;
	--wolf-img: invert(19%) sepia(97%) saturate(2368%) hue-rotate(183deg) brightness(92%) contrast(101%);

	--pebble: 56, 94, 0;
	--pebble-img: invert(25%) sepia(84%) saturate(829%) hue-rotate(49deg) brightness(98%) contrast(101%);

	--the-spark: 79, 79, 79;
	--the-spark-img: invert(100%) brightness(10%);
}

/* Dark style */
@media (prefers-color-scheme: dark) {
	:root {
		--menu-opacity: 0.8;
		--border-opacity: 0.4;

		--body: 18, 18, 18;
		--body-img: invert(7%);

		--neutral: 240, 240, 240;

		--wolf: 185, 232, 255;
		--wolf-img: invert(94%) sepia(96%) saturate(4619%) hue-rotate(172deg) brightness(97%) contrast(112%);

		--pebble: 187, 221, 146;
		--pebble-img: invert(86%) sepia(20%) saturate(625%) hue-rotate(40deg) brightness(99%) contrast(85%);

		--the-spark: 226, 226, 226;
		--the-spark-img: invert(100%) brightness(90%);
	}
}

/* General */
* {
	box-sizing: border-box;
}

@font-face {
	font-family: Montserrat;
	src: url("fonts/Montserrat-Regular.woff2") format("woff2");
}

body {
	font-family: 'Montserrat', sans-serif;
	background: rgb(var(--body));
	margin: 0;
	padding: 0;
}

h1 {
	color: rgb(var(--theme));
	font-size: 34px;
	line-height: 150%;
	font-weight: normal;
	text-align: center;
	margin: 30px 5%;
}

h2 {
	color: rgb(var(--theme));
	font-size: 24px;
	text-align: center;
	font-weight: normal;
	margin: 15px 5%;
}

p {
	color: rgb(var(--theme));
	font-size: 16px;
	line-height: 160%;
	text-align: left;
	margin: 5px 5%;
}

a, #menu input {
	-webkit-tap-highlight-color: transparent;
}

/* Space */
.space {
	height: 100px;
}

.space-small {
	height: 50px;
}


/* Content */
a {
	color: rgb(var(--theme));
}

.center {
	text-align: center;
}

.paragraph {
	padding: 0 20%;
}

.border {
	padding: 14px;
	border-radius: var(--round);
	background: rgba(var(--theme), var(--dp4));
	border: 1px solid rgba(128, 128, 128, var(--border-opacity));
}

.video {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	width: 100%;
	height: 100%;
	border-radius: var(--round);
}

.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.plot {
	position: relative;
	text-align: center;
	display: block;
	padding: 10px;
	background: rgba(var(--theme), var(--dp4));
	border-radius: var(--round);
	backdrop-filter: blur(20px);
}

.items {
	margin: auto;
	text-align: center;
	width: fit-content;
}

.item {
	display: inline-block;
}

.item img {
	width: 128px;
	border-radius: var(--round);
}

.item p {
	font-size: 12px;
	text-align: center;
}

.column {
	float: left;
	width: 50%;
}

.infobox {
	width: 300px;
	margin: auto;
}

.infobox:after {
	content: "";
	display: table;
	clear: both;
}

.infobox .column {
	float: left;
	width: 50%;
}

.left p {
	text-align: right;
}

.background {
	height: 80vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }

.filter {
	width: 100%;
	height: 100%;
	display: flex;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(transparent 70%, rgba(var(--body), 1) 100%);
}

.filter img {
	height: 14vh;
	margin: auto;
}

.software img {
	padding: 0 20px;
	filter: var(--img);
}

.credits {
	width: 550px;
	margin: auto;
}

.credits p {
	text-align: center;
}


/* Responsive */
@media only screen and (max-width: 600px) {
	.paragraph {
		padding: 0;
	}
	.column {
		width: 100%;
	}
	.plot {
		margin: 0 5%;
		margin-top: -100px;
	}
	.video {
		padding-bottom: 56.25%;
		width: 100%;
		left: 0;
	}
	.background {
		height: 80vh;
		background-repeat: no-repeat;
		background-position: top;
		background-size: auto 80vh;
		display: flex;
		justify-content: center;
	}
	.background img {
		width: 70%;
		height: auto;
	}
	.infobox {
		width: 100%;
	}
	.credits {
		width: 100%;
	}
}

@media only screen and (min-width: 600px) {
	.column {
		width: 100%;
	}
	.plot {
		margin: 0 10%;
		margin-top: -100px;
	}
	.video {
		padding-bottom: 45%;
		width: 80%;
		left: 10%;
	}
}

@media only screen and (min-width: 992px) {
	.column {
		width: 50%;
	}
	.plot {
		margin: 0 20%;
		margin-top: -100px;
	}
	.video {
		padding-bottom: 39.375%;
		width: 70%;
		left: 15%;
	}
}
