/* Theme */
:root {
	--theme: var(--wolf);
	--img: var(--wolf-img);
}


a {
	color: var(--theme);
}

.background-post img {
	width: 100%;
	border-radius: var(--round);
}

.date {
	color: rgba(var(--theme), var(--medium-emphasis));
	text-align: center;
}


/* Responsive */
@media only screen and (max-width: 600px) {
	.post {
		padding: 0;
	}
}

@media only screen and (min-width: 600px) {
	.background-post img {
		width: 60%;
	}
	.post {
		padding: 0 15%;
	}
}
