/* Theme */
:root {
	--theme: var(--wolf);
	--img: var(--wolf-img);
	--box-normal: var(--dp4);
	--box-hover: var(--dp24);
}

a {
	text-decoration: none;
}


/* Content */
.films {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 10%;
	text-align: center;
}

.film {
	position:relative;
	width: 280px;
	margin: 18px;
	padding: 0;
	transition: all 0.3s;
}

.date {
	opacity: var(--medium-emphasis);
	font-size: 14px;
}

.film:hover {
	background: rgba(var(--theme), var(--dp24));
}

.film img {
	width: 100%;
	border-radius: var(--round);
}


/* Responsive */
@media only screen and (max-width: 600px) {
	.films {
		padding: 0 15%;
	}
	.film {
		width: 100%;
		margin: 10px 0;
	}
}
