/* Theme */
:root {
	--theme: var(--wolf);
	--img: var(--wolf-img);
}


/* Content */
.information p {
	color: rgba(var(--theme), var(--high-emphasis));
}

.profile {
	width: 100%;
	text-align: center;
}

.profile img {
	width: 200px;
	border-radius: 50%;
}

.social {
	width: 100%;
	text-align: center;
}

.social a {
	width: 50px;
	display: inline-block;
	margin: 10px;
	padding: 5px;
	transition: all 0.3s;
}

.social img {
	width: 100%;
	filter: var(--img);
	transition: all 0.3s;
}

.social a:hover img {
	filter: var(--img);
	opacity: var(--selected);
}
