/* Theme */
:root {
	--theme: var(--neutral);
}


/* Content */
.background {
	background-image: url('/assets/background.avif');
	height: 100vh;
}

.banner {
	height: 30vh;
	width: 100%;
	margin: auto;
	text-align: center;
}

.banner h2 {
	display: inline-block;
	font-size: 22px;
	padding: 5px 15px;
	color: white;
	background: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(20px);
	border-radius: var(--round);
}

.buttons {
	width: 200px;
	margin: auto;
}

.button {
	display: inline-block;
	padding: 20px 0;
	width: 180px;
	color: white;
	text-decoration: none;
	margin-top: 6px;
	text-align: center;
	border: 1px solid rgba(255, 255, 255, 0.5);
	background: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(20px);
	border-radius: var(--round);
	transition: all 0.3s;
}

.button:hover {
	background: rgba(200, 200, 200, 0.1);
}

img {
	width: 100%;
}

.faderight {
	width: 100%;
	text-align: left;
}

.fadeleft {
	width: 100%;
	text-align: right;
}

.fade {
	display: inline-block;
	position: relative;
	width: 85%;
}

.fade::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 30%;
	background: linear-gradient(to bottom, rgb(var(--body)), transparent);
}

.fade::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30%;
	background: linear-gradient(to top, rgb(var(--body)), transparent);
}

.rightside {
	content: "";
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, transparent 40%, rgb(var(--body)) 90%);
}

.leftside {
	content: "";
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to left, transparent 40%, rgb(var(--body)) 90%);
}

.description {
	margin: auto;
	width: 300px;
	backdrop-filter: blur(20px);
}

.rightside .description {
	margin-right: 5%;
}

.leftside .description {
	margin-left: 5%;
}


/* Responsive */
@media only screen and (max-width: 600px) {
	.background {
		background-size: auto 100vh;
		height: 100vh;
	}
	.fade {
		width: 100%;
	}
	.description {
		width: 90%;
		margin: auto;
	}
	.rightside {
		height: 0;
	}
	.leftside {
		height: 0;
	}
}
