{{ define "main" }}

<div class="space"></div>

<p class="center">Watch our collection of short films</p>

<div class="space-small"></div>

<div class="films">
    {{ range sort .Pages ".Params.title" "desc" }}
    <a href="{{ .Permalink }}" class="film border">
        <img src="{{ .Params.poster }}">
        <h2>{{ .Params.title }}</h2>
        <p class="center date">{{ .Params.year }}</p>
    </a>
    {{ end }}
</div>

{{ end }}
