{{ $path := .Get "path" }}
{{ $labels := .Get "labels" }}
<div class="items border">
    {{ range $.Page.Resources.Match $path }}
        <div class="item">
            <img src="{{ .RelPermalink }}">
            {{ if $labels }}
                {{ $base := path.Base .Name }}
                <p>{{ replace $base (path.Ext $base) "" }}</p>
            {{ end }}
        </div>
    {{ end }}
</div>
