{{ $url := .Get "url" }}
<div class="video">
    <iframe width="560" height="315" src="{{ $url }}?title=0&amp;warningTitle=0" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups"></iframe>
</div>
